<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <span class="lead">Search Cars</span>
        </div>
        <div class="card-body">
            <p>Search cars by <mark>Brand</mark> or <mark>model</mark></p>
            <form th:action="@{/cars}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" th:value="${input}" name="input" placeholder="brand or model">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h1 class="mt-5">Cars</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>License Plate</th>
            <th>Model</th>
            <th>Brand</th>
            <th>Price per Day</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.licensePlate}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.pricePerDay}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>